<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>GTVs</title>
</head>
<body>
    <h3 class="col-lg-10 control-label">Select GTV Primary and Nodes</h3><br>
    <form class="form-horizontal" method="POST" action="rois">
        {% for id in id_roi_mapping.keys() %}
        <div id="div1" class="form-group">
            <label for="{{ id }}" class="col-lg-3 control-label">{{ id }}</label>
            <select id="{{ id }}" name="{{ id }}" class="selectpicker" multiple data-live-search="true">
                <option value="">Choose GTV Primary</option>
                {% for roi in id_roi_mapping[id] %}
                <option value="{{ roi }}">{{ roi }}</option>
                {% endfor %}
            </select>
            <label for="node_{{ id }}" class="col-lg-1 control-label"></label>
            <select id="node_{{ id }}" name="node_{{ id }}[]" class="selectpicker" multiple data-live-search="true">
                <option value="">Choose GTV Nodes</option>
                {% for roi in id_roi_mapping[id] %}
                <option value="{{ roi }}">{{ roi }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>
