<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flyover | Data submission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <br>
    <div {% if not error %} style="display: none;" {% endif %}>

        {% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close align-middle" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}

        {% endblock %}
    </div>

    <h1>Welcome to Flyover &#x1F426;</h1>
    <hr>

    <header>Start by selecting your data source:</header>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="CSV">CSV:</label>
            <input type="radio" id="CSV" name="fileType" value="CSV">
        </div>

        <div class="form-group">
            <label for="Postgres">PostgreSQL:</label>
            <input type="radio" id="Postgres" name="fileType" value="Postgres">
        </div>

        <div id="csvform" style="display: none;">
            <hr>
            <label for="csvPath">Please specify the path of the CSV file you would like to process</label>
            <br>
            <input type="text" id="csvPath" name="csvPath" placeholder="Enter CSV File Path">
            <input type="button" class="btn btn-primary" value="..."
                   onclick="document.getElementById('csvFile').click();">
            <input type="file" id="csvFile" name="csvFile" style="display:none;" onchange="updateFilePath(this)">
        </div>

        <div id="postgresform" style="display: none;">
            <hr>
            <label for="username">Please specify the following details for your postgress database</label>
            <br>
            <label for="username">PostgreSQL Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">PostgreSQL Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <label for="POSTGRES_URL">PostgreSQL URL:</label>
            <input type="text" id="POSTGRES_URL" name="POSTGRES_URL">
            <br>
            <label for="POSTGRES_DB">PostgreSQL Database:</label>
            <input type="text" id="POSTGRES_DB" name="POSTGRES_DB">
        </div>

        <div id="jsonform" style="display:none;">
            <hr>
            <label for="jsonPath">Specify a path to the global schema JSON file if available.</label>
            <label for="jsonPath"><i>Note that this is optional and only serves to guide data annotation.</i></label>
            <br>
            <input type="text" id="jsonPath" name="jsonPath" placeholder="Enter JSON File Path">
            <input type="button" class="btn btn-primary" value="..."
                   onclick="document.getElementById('jsonFile').click();">
            <input type="file" id="jsonFile" name="jsonFile" style="display:none;" onchange="updateFilePath(this)">
        </div>
        <br>
        <input type="submit" value="Submit Files" class="btn btn-primary">
    </form>
</div>

<script>
    function updateFilePath(input) {
        var fullPath = input.value;
        var fileName = fullPath.split('\\').pop();  // Get the filename
        if (input.id === 'jsonFile') {
            $("#jsonPath").val(fileName);  // Set only the filename in the input box
        } else if (input.id === 'csvFile') {
            $("#csvPath").val(fileName);  // Set only the filename in the input box
        }
    }

    $(document).ready(function () {
        // Initially disable the submit button
        $("input[type=submit]").prop("disabled", true);

        // Enable the submit button when the necessary fields are filled
        $("input[type=text], input[type=file], input[type=password]").on("change keyup", function () {
            var csvFile = $("#csvFile").val();
            var username = $("#username").val();
            var password = $("#password").val();
            var postgresUrl = $("#POSTGRES_URL").val();
            var postgresDb = $("#POSTGRES_DB").val();

            if (($("#CSV").is(":checked") && csvFile) || ($("#Postgres").is(":checked") && username && password && postgresUrl && postgresDb)) {
                $("input[type=submit]").prop("disabled", false);
            } else {
                $("input[type=submit]").prop("disabled", true);
            }
        });

        $("#CSV").click(function () {
            $("#csvform").show();
            $("#postgresform").hide();
            $("#jsonform").show();  // Show JSON path selection
        });

        $("#Postgres").click(function () {
            $("#csvform").hide();
            $("#postgresform").show();
            $("#jsonform").show();  // Show JSON path selection
        });
    });
</script>
</body>
</html>
